<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
</style>

<script>
$(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		}); 	
	});
</script>

		<div class="container" id="accept_request" hidden>
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Create Post</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="accept_start_date" class="cols-sm-2 control-label">Start Time</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="accept_start_time" id="accept_start_time"  placeholder="Enter A title for this post"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="accept_start_date" class="cols-sm-2 control-label">End Time</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="accept_end_time" id="accept_end_time"  placeholder="Enter A title for this post"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="accept_date" class="cols-sm-2 control-label">Date</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="accept_date" id="accept_date"  placeholder="Enter A title for this post"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="accept_description" class="col-4 col-form-label">Description</label> 
								<div class="col-8">
									<textarea id="accept_description" name="accept_description" cols="40" rows="4" class="form-control"></textarea>
								</div>
						</div>


						<div class="form-group row">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button" id="post_id" name="post_id" value="accept_request" >Post</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>