{% extends "header.html" %}

{% block body %}

<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item active">
				<a class="nav-link active"  href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Feed" aria-controls="Feed" role="tab" data-toggle="tab">Feed</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Create_Request" aria-controls="Create_Request" role="tab" data-toggle="tab">Request Time Cover</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  href="#Schedule" aria-controls="Schedule" role="tab" data-toggle="tab">My Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Create_Schedule" aria-controls="Create_Schedule" role="tab" data-toggle="tab">Create Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Employees" aria-controls="Employees" role="tab" data-toggle="tab">Employees</a>
			</li>
		</ul>
	</ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Profile">
		<ul>
			{%for key,value in TOPIC_DICT["Profile"].items()%}
				{% if key=="Posts" %}
					OLD Posts
					{%for posts in value%}
						<li><a href="{{posts['title']}}">{{posts['title']}}</a></li>
					{%endfor%}
				{% else %}
					<div>KEY {{key}} VALUE {{value}}</div>
				{% endif %}

			{%endfor%}
		</ul>
	</div>
    <div role="tabpanel" class="tab-pane fade" id="Feed">
		</p>Your FEED</p>
		<ul>
			{% for t in TOPIC_DICT["Feed"] %}
				<li><a href="{{t[1]}}">{{t[0]}}</a></li>
			{% endfor %}
		</ul>
	</div>
    <div role="tabpanel" class="tab-pane fade" id="Create_Request">
		<ul>
			{% include 'dashboard_post.html' %}
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="Schedule">
		<ul>
			Not implmented yet. But your current shudle will dispaly here
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="Create_Schedule">
		<ul>
			Not implmented yet. Only Manger can view this. They will be able to create shdule for all emplpyees here
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="Employees">
		<ul>
			Create Emplpyee Account
			<div class="main-friend-requests main-center">
				<form class="form-horizontal" method="Post" action="#">

					<div class="form-group">
						<label for="Friend_Name" class="cols-sm-2 control-label">Create Account</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="Friend_Name" id="Friend_Name"  placeholder="Enter username of Friend"/>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Send Request</button>
					</div>	
				</form>
			</div>
		</ul>
		<ul>
			Pending Employees Request
			
		</ul>
		<ul>
			{% for t in TOPIC_DICT["Employees"] %}
			<li><a href="{{t[1]}}">{{t[0]}}</a></li>
			{% endfor %}
		</ul>
	</div>
  </div>


</div>


{% endblock %}