{% extends "header.html" %}

{% block body %}

<div role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item active">
				<a class="nav-link active"  href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Feed" aria-controls="Feed" role="tab" data-toggle="tab">Feed</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Create_Request" aria-controls="Create_Request" role="tab" data-toggle="tab">Request Time Cover</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  href="#Schedule" aria-controls="Schedule" role="tab" data-toggle="tab">My Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Create_Schedule" aria-controls="Create_Schedule" role="tab" data-toggle="tab">Create Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="#Employees" aria-controls="Employees" role="tab" data-toggle="tab">Employees</a>
			</li>
		</ul>
	</ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Profile">
		<ul>
			{%for key,value in TOPIC_DICT["Profile"].items()%}
				{% if key=="Posts" %}
					OLD Posts
					{%for posts in value%}
						<li><a href="{{posts['title']}}">{{posts['title']}}</a></li>
					{%endfor%}
				{% else %}
					<div>KEY {{key}} VALUE {{value}}</div>
				{% endif %}

			{%endfor%}
		</ul>
	</div>
    <div role="tabpanel" class="tab-pane fade" id="Feed">
    <script type="text/javascript">
	 // Wait for the page to load first
	window.onload = function() {

		//Get a reference to the link on the page
		// with an id of "mylink"
		var a = document.getElementsByClassName("request_container");

		//Set code to run when the link is clicked
		// by assigning a function to "onclick"
		a.onclick = function() {

			// Your code here...
			alert(a.getAttribute("value"))
			console.log(a)
			var item = document.getElementById('accept_request');
			item.setAttribute('hidden', 'false')
			item.setAttribute('title', 'FOOBAR')
			//If you don't want the link to actually 
			// redirect the browser to another page,
			// "google.com" in our example here, then
			// return false at the end of this block.
			// Note that this also prevents event bubbling,
			// which is probably what we want here, but won't 
			// always be the case.
			return false;
		}
	}
		function request_form(data_arr) {
			// Your code here...
			console.log(data_arr)
			console.log(data_arr[0])
			var item = document.getElementById('accept_request');
			console.log(item)
			item.removeAttribute("hidden");
			document.getElementById('accept_start_time').value=data_arr[1]
			document.getElementById('accept_end_time').value=data_arr[2]
			document.getElementById('accept_description').value=data_arr[3]
			document.getElementById('accept_date').value=data_arr[0]

			//If you don't want the link to actually 
			// redirect the browser to another page,
			// "google.com" in our example here, then
			// return false at the end of this block.
			// Note that this also prevents event bubbling,
			// which is probably what we want here, but won't 
			// always be the case.
			return false;
		}
		</script>
		</p>Your Request FEED</p>
		<ul>
			{% include 'accept_request.html' %}
		</ul>
		<ul>
			<div class="container" id="request_container">
			{% for t in TOPIC_DICT["Requests"] %}
				<li><a id="request" value="{{t[0]}}" onclick="request_form({{t}})">{{t[0]}}</a></li>
			{% endfor %}
			</div>
		</ul>
	</div>
    <div role="tabpanel" class="tab-pane fade" id="Create_Request">
		<ul>
			{% include 'create_request.html' %}
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="Schedule">
		<ul>
			Not implmented yet. But your current shudle will dispaly here
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="Create_Schedule">
		<ul>
			Not implmented yet. Only Manger can view this. They will be able to create shdule for all emplpyees here
		</ul>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="Employees">
		<ul>
			Create Emplpyee Account
			<div class="main-friend-requests main-center">
				<form class="form-horizontal" method="Post" action="#">

					<div class="form-group">
						<label for="Friend_Name" class="cols-sm-2 control-label">Create Account</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="Friend_Name" id="Friend_Name"  placeholder="Enter username of Friend"/>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Send Request</button>
					</div>	
				</form>
			</div>
		</ul>
		<ul>
			Pending Employees Request
			
		</ul>
		<ul>
			{% for t in TOPIC_DICT["Employees"] %}
			<li><a href="{{t[1]}}">{{t[0]}}</a></li>
			{% endfor %}
		</ul>
	</div>
  </div>


</div>


{% endblock %}